.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white{
  color: white;
  font-weight: bold;
  font-size:22px;
}

.gold{
  color: gold;
  font-weight: bold;
  font-size:22px;
}

#navbar{
  display:grid;
  grid-template-columns:  15% 15% 20% 20%;
}

#drawBoard{
  display:grid;
  grid-template-columns:  20% 60% 20%;
}

#unfinishedPaint{
  border: 3px solid rgb(173, 69, 69);
}

#finishedPaint{
  border: 3px solid rgb(98, 172, 83);
}
